.listado-peliculas
{
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    gap: 10px;

}

.listado-peliculas .peliculas
{
    max-width: 80%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;
}

